<div class="container">
    <div>
      <h1 style="color: navy; margin-top: 1%; margin-bottom: 2%; text-align: center;">Edit Book
        <p class="lead"></p>
      </h1>
    </div>
    <form (ngSubmit)="EditBook()">
      <div class="container">
        <div class="row">
          <div class="col-lg-6" style="margin-left: 25%;">
            <div class="panel">
              <div class="panel-body" style="background-color: lightblue; border-radius: 20px;">
                <div class='table-responsive'>
                  <table class='table' style="margin-top: 60px;">       
                    <tbody>  
                      <tr>
                        <td><label style="font-size: 18px;"><b>Title</b></label></td>
                        <td><input type="text" style="width: 300px;" name="title" [(ngModel)]="bookItem.title"/></td>              
                      </tr>
                      <tr>
                        <td><label style="font-size: 18px;"><b>Author</b></label></td>
                        <td><input type="text" style="width: 300px;" name="author" [(ngModel)]="bookItem.author"/></td>
                      </tr> 
                      <tr>
                        <td><label style="font-size: 18px;"><b>Genre</b></label></td>
                        <td><input type="text" style="width: 300px;" name="genre" [(ngModel)]="bookItem.genre"/></td>                  
                      </tr> 
                      <tr>
                        <td><label style="font-size: 18px;"><b>Description</b></label></td>
                        <td><input type="text" style="width: 300px;" name="description" [(ngModel)]="bookItem.description"/></td>                  
                      </tr> 
                      <tr>
                        <td><label style="font-size: 18px;"><b>Image</b></label></td>
                        <td><input type="text" style="width: 300px;" name="image" [(ngModel)]="bookItem.image"/></td>                  
                      </tr>  
                      <tr>
                        <td></td>
                        <td><button type="submit" class="btn btn-info" style="margin-left: 20%;color: navy;"><b>Update</b></button></td>                  
                      </tr>             
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>